<div class="container">
    <h3>Enter new Item details</h3>
    <form #add="ngForm" (ngSubmit)="onadd(add)">
        <div class="form-group">
            <input 
              type="text" 
              class="form-control" 
              id="name" 
              placeholder="Enter Item Name"
              name="name"
              #name="ngModel"
              required
              [(ngModel)]="items.name"
              >
              </div>
        <div class="form-group">
            <input 
              type="number" 
              class="form-control" 
              id="price" 
              placeholder="Enter Item Price"
              name="price"
              #price="ngModel"
              required
              [(ngModel)]="items.price"
              >
            </div>
            <div class="form-group">
            <input 
              type="quantity" 
              class="form-control" 
              id="quantity" 
              placeholder="Enter Item Quantity"
              name="quantity"
              #quantity="ngModel"
              required
              [(ngModel)]="items.quantity"
              >
            </div>
            <div>
              <div class="form-group">
            <input 
              type="text" 
              class="form-control" 
              id="type" 
              placeholder="Enter Item Type"
              name="type"
              #type="ngModel"
              required
              [(ngModel)]="items.type"
              >
            </div>
      <div>
        <div>
      <div class="form-group">
            <input 
              type="number" 
              class="form-control" 
              id="order_id" 
              placeholder="Enter Item Order ID"
              name="order_id"
              #order_id="ngModel"
              required
              [(ngModel)]="items.orders.id"
              >
            </div>
          </div>
            
            
                          
<button type="submit" class="btn btn-primary">ADD</button>


    