<div class="container">
    <h3>Manager Login Portal</h3>
    <form #login="ngForm" (ngSubmit)="onloginManager(login)">
        <div class="form-group">
            <input 
              type="email" 
              class="form-control" 
              id="email" 
              placeholder="Enter  Email"
              name="email"
              #email="ngModel"
              [(ngModel)]="admin.email"
              >
            </div>
            <div class="form-group">
              <input 
                type="password" 
                class="form-control" 
                id="password" 
                placeholder="Enter  password"
                name="password"
                #password="ngModel"
                [(ngModel)]="admin.password"
                >
              </div>
    
        <button type="submit" class="btn btn-primary" >Login</button>
      </form>
    </div>
    