<div class="container">
    <h3>Enter new Product details</h3>
    <form #addbranch="ngForm" (ngSubmit)="onadd(addbranch)">
        <div>
        <div class="form-group">
            <input 
              type="text" 
              class="form-control" 
              id="name" 
              placeholder="Enter Product Name"
              name="name"
              #name="ngModel"
              required
              [(ngModel)]="products.name"
              >
        </div>
        <div>
            <div class="form-group">
              <input 
              type="text" 
              class="form-control" 
              id="availabilty" 
              placeholder="Enter Product availabilty"
              name="availabilty"
              #availabilty="ngModel"
              required
              [(ngModel)]="products.availabilty"
              >
        </div>
            <div>
            <div class="form-group">
              <input 
              type="text" 
              class="form-control" 
              id="type" 
              placeholder="Enter Product type"
              name="type"
              #type="ngModel"
              required
              [(ngModel)]="products.type"
              >
            </div>
            <div>
            <div class="form-group">
              <input 
              type="number" 
              class="form-control" 
              id="price" 
              placeholder="Enter Product price"
              name="price"
              #price="ngModel"
              required
              [(ngModel)]="products.price"
              >
            </div>
            <div>
            <div class="form-group">
              <input 
              type="number" 
              class="form-control" 
              id="menu_id" 
              placeholder="Enter Product Mneu ID"
              name="menu_id"
              #menu_id="ngModel"
              required
              [(ngModel)]="products.menu.id"
              >
            </div>
    <button type="submit" class="btn btn-primary">ADD</button>