<div class="container">
    <h3>Enter new Branch details..</h3>
    <form #addbranch="ngForm" (ngSubmit)="onadd(addbranch)">
      <div>
        <label for="validationCustom03">City</label>
        <div class="form-group">
            <input 
              type="text" 
              class="form-control" 
              id="name" 
              placeholder="Enter Branch Name"
              name="name"
              #name="ngModel"
              required
              [(ngModel)]="branch.name"
              >
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
        <div class="form-group">
            <input 
              type="text" 
              class="form-control" 
              id="address" 
              placeholder="Enter Branch address"
              name="address"
              #address="ngModel"
              required
              [(ngModel)]="branch.address"
              >
              </div>
            <div>
            <div class="form-group">
              <input 
                type="text" 
                class="form-control" 
                id="phone" 
                placeholder="Enter Bracnh phone"
                name="phone"
                #phone="ngModel"
                required
                [(ngModel)]="branch.phone"
                >
              </div>
                <div class="form-group">
                    <input 
                      type="number" 
                      class="form-control" 
                      id="admin.id" 
                      placeholder="Enter Admin ID"
                      name="admin.id"
                      #admin.id="ngModel"
                      required
                      [(ngModel)]="branch.admin.id"
                      >
          
        <button type="submit" class="btn btn-primary">ADD</button>
      <form></form>
    </div>


