
<div class="container">
    <h3>Update Order</h3>
    <form #update="ngForm" (ngSubmit)="onupdate(update)">
        <div class="form-group">
            <input 
              type="text" 
              class="form-control" 
              id="status" 
              placeholder="Enter order status"
              name="status"
              #status="ngModel"
              ngModel
              [(ngModel)]="orders.status"
              >
        </div>
        <div class="form-group">
            <input 
              type="number" 
              class="form-control" 
              id="total_price" 
              placeholder="Enter total price"
              name="total_price"
              #total_price="ngModel"
              ngModel
              [(ngModel)]="orders.total_price"
              >
        </div>
        <div class="form-group">
            <input 
              type="text" 
              class="form-control" 
              id="order_time" 
              placeholder="Enter order time"
              name="order_time"
              #order_time="ngModel"
              ngModel
              [(ngModel)]="orders.order_time"
              >
        </div>
        <div class="form-group">
            <input 
              type="text" 
              class="form-control" 
              id="deliver_time" 
              placeholder="Enter deliver time"
              name="deliver_time"
              #deliver_time="ngModel"
              ngModel
              [(ngModel)]="orders.deliver_time"
              >
        </div>
        <div class="form-group">
            <input 
              type="text" 
              class="form-control" 
              id="customer_name" 
              placeholder="Enter customer name"
              name="customer_name"
              #customer_name="ngModel"
              ngModel
              [(ngModel)]="orders.customer_name"
              >
        </div>
        <div class="form-group">
            <input 
              type="number" 
              class="form-control" 
              id="customer_number" 
              placeholder="Enter customer number"
              name="customer_number"
              #customer_number="ngModel"
              ngModel
              [(ngModel)]="orders. customer_number"
              >
        </div>
        <div class="form-group">
            <input 
              type="number" 
              class="form-control" 
              id="Staff_ID" 
              placeholder="Enter Staff ID"
              name="Staff_ID"
              #Staff_ID="ngModel"
              ngModel
              [(ngModel)]="orders.staff.id"
              >
        </div>
        <div class="form-group">
            <input 
              type="text" 
              class="form-control" 
              id="staff_name" 
              placeholder="Enter staff name"
              name="staff_name"
              #staff_name="ngModel"
              ngModel
              [(ngModel)]="orders.staff.name"
              >
        </div>
        <div class="form-group">
            <input 
              type="email" 
              class="form-control" 
              id="staff_email" 
              placeholder="Enter staff email"
              name="staff_email"
              #staff_email="ngModel"
              ngModel
              [(ngModel)]="orders.staff.email"
              >
        </div>
        <div class="form-group">
            <input 
              type="password" 
              class="form-control" 
              id="staff_password" 
              placeholder="Enter staff password"
              name="staff_password"
              #staff_password="ngModel"
              ngModel
              [(ngModel)]="orders.staff.password"
              >
        </div>
        <div class="form-group">
            <input 
              type="tel" 
              class="form-control" 
              id="staff_role" 
              placeholder="Enter staff role"
              name="staff_roel"
              #staff_roel="ngModel"
              ngModel
              [(ngModel)]="orders.staff.role"
              >
        </div>
        
        
    
        <button type="submit" class="btn btn-primary">Update</button>
   

    